.layout-container {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    height: 65px;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
