.text-field-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text-field-and-button {
    display: flex;
    gap: 5px;
    flex-direction: row;
}

.input-error {
    color: rgb(186, 17, 17);
    font-size: 12px;
}