.board-grid {
    display: grid;
    height: auto;
    grid-template-columns: 500px;
    background-color: coral;
    width: fit-content;
}

.grid-row {
    display: flex;
    justify-content: space-between;
}

.grid-box {
    width: 28px;
    height: 28px;
    border: 2px solid black;
    background-color: saddlebrown;
    user-select: none;
     grid-area: 2 / 2 / 5 / 5;

}

.box-bottom-walled{
    background-color: red;
}

.cell {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.left-border {
    grid-area: 2 / 1 / 5 / 2;
    background-color: white;
    border: 2px solid black;
    visibility: hidden;

}

.bottom-border {
    grid-area: 5 / 2 / 6 / 5;
    border: 2px solid black;
    background-color: white;
    visibility: hidden;

}

.right-border {
    grid-area: 2 / 5 / 5 / 6; 
    background-color: white;
    border: 2px solid black;
    visibility: hidden;

}

.top-border {
    grid-area: 1 / 2 / 2 / 5;
    background-color: white;
    border: 2px solid black;
    visibility: hidden;
}

.visible {
    visibility: visible;
}
  